@mixin basetica {
  @font-face {
    font-family: "Basetica";
    font-weight: 400;
    src: url('//d2jj063hrlzfd9.cloudfront.net/static/fonts/basetica-regular.woff') format("woff");
  }

  @font-face {
    font-family: "Basetica-regular";
    font-weight: 400;
    src: url('//d2jj063hrlzfd9.cloudfront.net/static/fonts/basetica-regular.woff') format("woff");
  }

  @font-face {
    font-family: "Basetica Bold";
    font-weight: 700;
    src: url('//d2jj063hrlzfd9.cloudfront.net/static/fonts/basetica-bold.woff') format("woff");
  }

  @font-face {
    font-family: "Basetica-bold";
    font-weight: 700;
    src: url('//cd2jj063hrlzfd9.cloudfront.net/static/fonts/basetica-bold.woff') format("woff");
  }

  @font-face {
    font-family: "Basetica Light";
    font-weight: 200;
    src: url('//d2jj063hrlzfd9.cloudfront.net/static/fonts/basetica-thin.woff') format("woff");
  }
}
