@import "fonts/fonts";
@include basetica;

html,
.optimizedCheckout-contentPrimary {
    color: $grey-dark;
    font-family: "Basetica", sans-serif;
    font-size: 16px;
}

p {
    margin-bottom: 1rem;
}

a {
    border-bottom: 2px solid $black;
    color: $black !important;
    font-weight: bold;
    position: relative;

    &:hover,
    &:focus {
        border-bottom: 2px solid transparent;
        color: $black;
    }

    &:visited {
        border-bottom: 1px solid $blue;
        color: $blue;
        font-weight: normal;
    }
}

.checkoutHeader-link {
    border-bottom: none;
}

.optimizedCheckout-headingSecondary {
    color: $grey-dark;
    font-size: 1rem;
}

.form-input.optimizedCheckout-form-input {
    border: 1px solid $grey;
    border-radius: 0;
    box-shadow: none;
    color: $black;
    padding: 1rem 0.5rem;

    &:focus {
        border: 1px solid $black;
        box-shadow: none;
    }
}
