@font-face {
  font-family: "Basetica";
  font-weight: normal;
  src: url('//d2jj063hrlzfd9.cloudfront.net/static/fonts/basetica-regular.woff') format("woff");
}

@font-face {
  font-family: "Basetica Bold";
  font-weight: bold;
  src: url('//d2jj063hrlzfd9.cloudfront.net/static/fonts/basetica-bold.woff') format("woff");
}

// Default
html {
  font-size: 16px;
  color: #4d4d4d;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Basetica Bold";
  font-weight: bold;
}

strong {
  font-family: "Basetica Bold";
  font-weight: bold;
}

p {
  font-family: "Basetica";
  font-weight: normal;
  font-size: inherit;
  color: inherit;
}

// Font
.optimizedCheckout-contentPrimary, .optimizedCheckout-headingPrimary, .optimizedCheckout-contentSecondary {
  font-family: "Basetica"; // no important
  font-weight: normal;
}

.optimizedCheckout-contentSecondary {
  color: #4d4d4d; 
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  min-height: 50px;
  width: auto;

  padding: 0 1.5rem;

  font-family: "Basetica Bold";
  font-weight: bold;
  font-size: 1rem;
  text-transform: capitalize;
}

a.button {
  &::before {
    display: none;
  }
}

// headings
.cart-title, .cart-section-heading {
  font-family: "Basetica Bold";
}

// Buttons
.button--primary {
  $color: #9b2e29;

  color: #fff;

  background-color: $color;
  border: none;

  &:is(:hover, :focus, :active) {
    background-color: rgb($color, 0.85);
    box-shadow: none;
  }
}

.button--tertiary, #checkout-guest-continue {
  $color: #333;

  color: $color;
  border: 1px solid $color;

  &:is(:hover, :focus, :active) {
    color: $color;
    border: 1px solid $color;
    box-shadow: none;
  }
}

// Links
a, .cart-header-link, #checkout-customer-login, .cart-price-action {
  $color: #333;

  position: relative;
  display: inline-block;

  font-family: "Basetica Bold";
  font-weight: bold;
  font-size: .75rem;
  color: $color;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 1px;
    background-color: $color;
    transform: scaleX(1);
    transform-origin: top left;
    transition: transform 0.3s ease;
  }

  &:hover {
    color: $color;

    &::before {
      transform: scaleX(0);
    }
  }
}

// Page Heading
.checkoutHeader-link::before {
  display: none;
}

// Layout
.layout {
  max-width: 80rem;
}

.layout-main {
  padding-left: 0;
  padding-right: 0;

  @media only screen and (min-width: 64rem) {
    width: 34rem;
    margin-right: 5rem;
  }

  @media only screen and (min-width: 80rem) {
    width: 44rem;
    margin-right: 6.5rem;
  }
}

.checkout-steps {
  padding-right: 0;
}

.layout-cart {
  padding-left: 0;
  padding-right: 0;
}
  
// *** Step Styles ***
.stepHeader::before {
  display: none;
}

.stepHeader-title {
  color: #00424a;
  font-size: 1.75rem;
  font-family: 'Basetica Bold';
  font-weight: bold;
}

.button.button--tiny {
  min-width: 100px;
}

.optimizedCheckout-headingSecondary {
  font-size: 1rem;
  font-family: "Basetica Bold";
  font-weight: bold;
  color: #00424a;
}

.optimizedCheckout-step {
  background-color: #00424a;
  
  &:not(.stepHeader-counter--complete) {
    $size: 2.125rem;

    height: $size;
    width: $size;
  
    &::before {
      height: $size;
      width: $size;
    }
  }
}

.stepHeader-body {
  font-size: .875rem;
}

// Customer Step
#checkout-customer-login {
  font-size: .75rem;
}

#checkout-customer-login-text {
  font-size: .75rem;
}

.forgot-password-link {
  margin-top: 0.5rem;
}

.change-email-text {
  font-size: 12px;
}

// Shipping & Billing Steps

.shippingOption > :is(.shippingOption-desc, .shippingOption-price) {
  font-size: inherit;
}

.shippingOption-price {
  font-family: "Basetica Bold";
  font-weight: bold;
}

// Shipping Subscribe
#subscribe-to-text-wrapper {
  background-color: #f5f5f5;
  padding: 1.5rem 1rem;

  & .form-field .form-label > div {
      & > :not(:last-child) {
          margin-bottom: 0.25rem;
      }

      & > :last-child {
          margin-bottom: 0;
      }
  }

  .subscribe-heading {
      color: #4d4d4d;
      font-size: 0.875rem;
      font-weight: bold;
  }

  .subscribe-subheading {
      font-size: 0.75rem;
  }

  .subscribe-text {
      font-size: 0.625rem;
  }
}


// Payment Step
.checkout-form {
  margin-left: 4.5rem;
}

.form-checklist-item:hover, .form-checklist-item--selected {
  background-color: transparent
}

.checkout-payment-continue {
  min-width: 14rem;
}

.form-ccFields {
  & > .form-field {
    padding: 0;
    
    &:nth-child(odd) {
      margin-right: 0.5rem;
    }

    &:nth-child(even) {
      min-width: 11rem;
    }

    &.form-field--error > .form-input {
      border-color: #9b2e29;
    }

    .form-input {
      height: 50px;

      font-family: 'Basetica';
      font-weight: normal;
      font-size: .875rem;

      &.has-icon + .icon {
        height: 50px;
      }
    }
  }
}

// *** Mobile Cart Drawer Order Summary ***

// Preview
.cartDrawer {
  padding: 1.5rem 2rem;
  margin: 0;

  box-shadow: 0 6px 20px #f4f4f4;

  @media only screen and (min-width: 48rem) {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    margin-bottom: 0.5rem;
  }
}

.cartDrawer-items, .cartDrawer-total {
  font-family: "Basetica Bold";
  font-weight: bold;
}

.cartDrawer-body {
  padding-left: 0;
  margin-left: 1rem;

  & > .cartDrawer-items {
    font-size: 1.25rem;
    color: #4d4d4d;
  }
}

.cartDrawer-actions {
  flex: unset;

  & > .cartDrawer-total {
    font-size: 1.75rem;
    color: #00424a;
  }
}

// Modal
.modalOverlay.modalOverlay--afterOpen {
  background-color: rgb(#F5F5F5, 0.95);
}

.modal.modal--afterOpen {
  top: 6rem;
  left: 50%;
  transform: translateX(-50%);

  height: min-content;
  min-height: unset;
  width: calc(100% - 2rem);
  max-width: 29.5rem;

  border-radius: 10px;
  box-shadow: none;

  @media only screen and (min-width: 48rem) {
    top: 7rem;

    width: 29.5rem;
  }
}

.cart-modal-header, .cart-modal-body {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.cart-modal-header {
  display: flex;
  flex-direction: row;
  align-items: center;

  padding-top: 2.5rem;
  padding-bottom: 1.5rem;

  box-shadow: none;

  & > :is(:first-child, .cart-modal-link) {
    flex: 1;
  }

  & > :first-child {
    margin-right: auto;
  }

  & > .cart-modal-close {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;

    height: 30px;
    width: 30px;

    &::before {
      display: none;
    }
  }

  & > .modal-header-title {
    font-size: 1rem;
    color: #4d4d4d;
  }

  & > .cart-modal-link {
    margin-left: auto;

    & > .modal-header-link {
      display: inline-block;
    }
  }
}

.cart-modal-body {
  & > * {
    padding-left: 0;
    padding-right: 0;
  }

  .product {
    flex-wrap: nowrap;

    & > * {
      align-self: unset;
    }

    & > :first-child {
      padding-right: 0;
      margin-right: 0.5rem;
    }

    & > :last-child {
      margin-right: 1rem;
    }
  }
}

// *** Desktop Order Summary ***
.cart-title {
  font-size: 1rem;
}

.cart-header {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.cart-section-heading {
  font-family: "Basetica";
  font-weight: normal;
  font-size: 1rem;
}

.product-title {
  font-family: "Basetica";
  font-weight: normal;
  font-size: 14px;
  color: #00424a;
}

.product-price, .cart-priceItem-label, .cart-price-value {
  font-family: "Basetica";
  font-weight: normal;
  font-size: .875rem;
  color: #4d4d4d;
}

.cart-priceItem--total  {
  display: inline-flex;
  justify-content: space-between;
  align-items: baseline;
}

.cart-priceItem--total {
  & > .cart-priceItem-label {
    font-size: 1rem;
    color: #333;
  }

  & > .cart-priceItem-value > .cart-price-value {
    font-size: 2rem;
    color: #00424a;
  }
}

.redeemable-label {
  color: #4d4d4d;
}

.couponHeading {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;

  font-size: .875rem;
}

.cart-priceItem-postFix {
  font-size: .875rem;
  color: #737373;
}

// Errors
// .form-field--error
.alertBox--error {
  padding: 0;
  margin-top: 0.5rem;
  margin-bottom: 0;

  font-size: .875rem;
  color: #9B2E29;

  background-color: transparent;
}

.alertBox-icon {
  display: none;
}

// *** Form Styles ***

// Input
.form-input {
  font-size: .875rem;

  border: 1px solid #c8c8c8;
  border-radius: 0;
  box-shadow: none;

  &:focus {
    border-color:#333;
    box-shadow: none;
  }

  &.form-field--error {
    background-color: transparent;
  }
}

.form-field.form-field--error .form-input {
  background-color: transparent;
  border-color: #9b2e29;
}

.form-field.form-field--error .redeemable-label {
  color: #9b2e29;
}

.form-field-error > .form-inlineMessage {
  font-size: .875rem;
}

.erroredInput > .form-input {
  border-color: #9b2e29;
}

.form-label, .form-checkbox + .form-label {
  margin-bottom: 0.5rem;

  color: #4d4d4d;
  font-size: .875rem;
}

.form-label > small {
  font-family: "Basetica";
  font-weight: normal;
  font-size: 14px;
  color: #979797;
}

// Checkbox
.form-checkbox + .form-label {
  &::before {
    border-color: #c8c8c8;
  }

  // TODO: need to set blue checkbox
}

.form-checkbox:focus + .form-label {
  &::before {
    border-color: #c8c8c8;
    box-shadow: none;
    // TODO: add outline
  }
}

.form-checkbox:checked + .form-label {
  &::before {
    background-color: transparent;
    border-color: #c8c8c8;
  }
}

.form-checklist-checkbox ~ .form-label {
  &::before {
    height: 1rem;
    width: 1rem;

    border-color: #c8c8c8;
  }

  &::after {
    visibility: hidden;
  }
}

.form-checklist-checkbox:checked ~ .form-label {
    &::before {
      border: none;
      background-color: #00424a;
      height: 1rem;
      width: 1rem;
    }
  
    &::after {
      visibility: visible;

      top: 0;
      left: calc(2rem - 3px);
  
      height: 6px;
      width: 6px;
  
      background-color: #fff;
    }
}

// Select
.form-select {
  &:focus {
    border-color: initial;
    box-shadow: none;
  }
}

.dropdown-button {
  font-family: 'Basetica';
  font-weight: normal;
  font-size: .875rem;
  color: #4d4d4d;
}

// Checkbox
.optimizedCheckout-form-checklist-checkbox + .optimizedCheckout-form-label {
  &::before {
    border-radius: 50%;
  }

  &::after {
    border-radius: 50%;
    background-color: white;
  }
}

.form-field--error {
  .optimizedCheckout-form-label, .form-inlineMessage {
    color: #9b2e29;
  }

  .optimizedCheckout-form-input {
    box-shadow: none;
  }
}

.redeemable-label.error {
  color: #9b2e29;
}



// ******** Order Confirmation ********

#checkout-app > .layout {
  padding-left: 1rem;
  padding-right: 1rem;

  @media only screen and (min-width: 48rem) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  @media only screen and (min-width: 64rem) {
    display: flex;
    flex-direction: row;

    padding-left: 2rem;
    padding-right: 2rem;
  }

  @media only screen and (min-width: 80rem) {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  & > .layout-main {
    margin-right: auto;
  }

  & > .layout-cart {
    width: auto;
    flex: 0 1 20rem;

    @media only screen and (min-width: 80rem) {
      flex-basis: 23.5rem;
    }
  }
}

.orderConfirmation-section {
  padding: 0;
  margin: 0 0 2rem;

  border: none;

  @media only screen and (min-width: 48rem) {
    margin-bottom: 4rem;
  }
}

.orderConfirmation > .optimizedCheckout-headingPrimary {
  margin-bottom: 1rem;

  font-size: 1.75rem;
  font-family: 'Basetica Bold';
  font-weight: bold;
  color: #00424a;

  @media only screen and (min-width: 48rem) {
    margin-bottom: 2rem;
  }
}

.order-confirmation-order-status-text {
  font-size: .875rem;
  color: #4d4d4d;
}

.continueButtonContainer {
  display: flex;
  justify-content: center;

  margin-top: 2rem ;
  margin-bottom: 0;

  @media only screen and (min-width: 48rem) {
    display: block;

    margin-top: 3rem;
  }

  & > a {
    font-size: 1rem;
  }
}

@import "./components/tj-custom/howHeard/_component.scss"